@import 'tailwindcss';

@layer base {
  @theme {
    --color-blossom-light: #fef5f0;
    --color-blossom: #fed8e5;
    --color-blossom-dark: #fd8eac;
    --color-cherry: #f04555;
    --color-cherry-dark: #e1233c;
    --color-bigarreau: #641228;
    --color-bigarreau-dark: #2e0116;

    --border-radius-img: 24px;
  }
  html {
    color: var(--color-blossom-light);
    font-family: var(--font-sans);
    background-color: var(--color-blossom);
  }
  ::selection {
    background-color: rgba(240, 69, 85, 0.7);
  }
  h1 {
    @apply text-blossom text-[clamp(4rem,12vw,12.5rem)] tracking-[0.2%] leading-tight font-black;
  }
  .text-subheading {
    @apply text-blossom text-2xl md:text-[40px] font-black tracking-[0.2%] leading-[1.25];
  }
  .flex-col {
    @apply flex flex-col;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .rounded-img {
    @apply rounded-[var(--border-radius-img)];
  }
}
